.App {
  text-align: center;
}


.Banner-Wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Banner-Title {
  color: blueviolet;
  font-size: 3em;
  font-weight: lighter;
  width: 100%;
  text-align: center;
}




.Exhibit-Wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
}

.Exhibit-Title-Wrapper {
  width: 60%;
  height: auto;
  /* border: 1px solid white; */
  margin: 20vh 0 10vh 0;
}

.Exhibit-Title {
  color: white;
  font-size: 3em;
  font-weight: lighter;
  padding: 0 1em 0.5em 0;
  border-bottom: 1px solid white;
}
